/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* styles pour les licornes ouahmane */

/* font-family: 'Courgette', cursive; */

body {
    background-image: url(../img/background.png);
    font-family: Arial, Helvetica, sans-serif;
}


main {
    width: 900px;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing:border-box;
    padding-top: 50px;
}



header {
    width: 100%;
    height: 50px;
    background-color: #c55394;
    color: #fff;
    font-family:'Courgette', cursive;
    font-weight: bold;
}
header nav {
    float: right;
    font-family: 'Courgette', cursive; ;
    float: top 10px;
}
a {
    text-decoration: none;
    margin: 10px;
    color: #fff;
}
header nav a:hover {
color: black;
}
h1 {
    background-image: url(../img/rainbow.png)  ;
    box-shadow: 0px 0px 5px 10px #3d3339;
    object-position: 100% 10%;

   
    text-align: center;
    margin-top: 30px ;
    color:#c55394 ;
    width: 400px;
    height: 150px;
    margin-left: 40%; 
    font-family:'Courgette', cursive;
    font-size:xx-large;
    font-weight: bold;
    padding-top: 50px;
    
}
p {
    font-style:italic;
    font-size: 1.1em;
    padding-top: 16px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}
.img  {display: flex;
    
}
figure {
    
    display: flex;
    flex-flow: column;
    max-width: 155px;
    margin: auto;
    text-align: center;
}


figcaption {
    text-align: center;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    position: relative;
    bottom: 1px;
    height: 20px;
    opacity: 0.8;
    background-color: #333;
    line-height: 20px;
    width: 150px;
}
 #principe ,#nous_trouver,#licornes {
    color: #c55394;
   font-size: 1.5em;
    font-family:'Courgette', cursive;
}
#general {
    display: flex;
   
}
 #contact {
    flex-direction: column;
    width: 50%;
    height: 300px;

    flex-grow:0;
   
}
.maps {
    flex-direction: column;
   
    width: 50%;
    height: 300px;
}


h4 {
    color: #c55394;
    font-family:'Courgette', cursive;
    font-size: 1.5em;
}
button {
    background-color:#c55394  ;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    color: #fff;
}
footer {
    width: 100%;
    height: 50px;
    background-color: #c55394;
    float: right;
      
}
footer p {
    margin-right: 20px;
    text-align: right;
    padding: 10px;
    color: #fff;
    

}
.clear {
    clear: both;
}