body {
    background-size: url(../img/background.png);
    color: #fff;
    background-size: cover;
}
* {
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* fin de ricette */
body {
    background: url(../img/background.png);
}

header {
    background-color: #101010;
    color: #fff;
    width: 100%;
    height: 100px;
}

.logo img {
    width: 150px;
    height: 100px;
    float: left;
}

 nav {
    font-family: fantasy;
    float: right;
    
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    width:150px;
    height: 40px;
    background-color:#000 ;
    font-size: 20px;
    display: inline-block;
    text-align:center ;
    line-height: 40px;
    opacity: 0.8;
    float: left;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}
nav ul li a:hover {
    background: orange;
}
nav ul li ul li {
    display: none;
}
nav ul li:hover ul li {
    display: block;
}



.titre{
    text-align: center;
    font-family: 'Courgette', cursive; ;
    font-size: 2.8em;
    margin-top: 25px;
    margin-bottom: 25px;
    color:  #c55394;

}

main {
    background-color:#fff;
    color: #333;
    width: 800px;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px 10px rgb(211, 202, 202);
    border-radius: 25px;
    margin-bottom: 15px;
}

.parti-a {
    display: flex;
    column-gap: 60px;
}
.parti-a  p img {
    flex-direction: column;
}
.parti-a p {
    width: 50%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}
img {
    border-radius: 15px;
}
 .parti-b {
    display: flex;
    
}
.parti-b img {
    flex-wrap: wrap;
    flex-direction: row;
    width: 170px;
    height: 250px;
    margin: 10px;
  
    
}
.parti-c {
    display: flex;
    column-gap: 60px;
    
}
.parti-c p img {
    flex-direction: column;
}
.parti-c p {
    width: 50%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.parti-d {
    display: flex;
    column-gap: 40px;
  
}
.parti-d .youtub {
    flex-direction: column;
    width: 50%;
    padding: 15px;
    height: 100%;
   box-sizing: border-box;

}
.parti-d .maps {
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;

}
.parti-f {
    display: flex;
    column-gap: 60px;

   
}
.parti-f p , address{
    flex-direction: column;
    width: 50%;
    border: 2px solid rgb(79, 82, 76);
    border-radius: 5px;
    text-align: center;
    background: #c55394 ;
    margin-bottom: 0;
    padding: 15px;
}
h3 {
    color:  #c55394;
    font-family: 'Courgette', cursive; ;
    font-size: 1.8em;
}

footer {
    background: black;
    color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
}
footer p {

    padding: 10px;
    color: #fff;
    flex-direction:row-reverse;
    width: 50%;
    text-align: right;
    margin: 10px;
    

}
footer #social {
    color: #fff;
    display: inline-block;
    width: 50%;
    flex-direction:row-reverse;
    
}
footer #social a {
    color: #fff;
    margin: 15px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 25PX;
}
footer #social a:hover {
    color: #c55394;

}